In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [44]:
df = pd.read_csv("./chomage_dep.csv", sep = ";", low_memory=False)
# On ne prends les données de chômage que de 2016 en lien avec la variable du nombre d'arrivée entre 2016 et 2018 par département
df2 = df[["Code", "T1_2016"]]
df_chomage_2016 = df2.rename(columns = {"Code" : "DEP", "T1_2016" : "Chomage"}).set_index("DEP")
df_chomage_2016.to_csv(r'./chomage_2016.csv')

In [29]:
df_chomage_2015

0      7,3
1       14
2     10,6
3     11,7
4      9,3
      ...
91     7,7
92     7,8
93    13,1
94     8,9
95    10,3
Name: T1_2015, Length: 96, dtype: object

In [37]:
df

,Code,Libellé,T1_1982,T2_1982,T3_1982,T4_1982,T1_1983,T2_1983,T3_1983,T4_1983,...,T1_2019,T2_2019,T3_2019,T4_2019,T1_2020,T2_2020,T3_2020,T4_2020,T1_2021,T2_2021
0,1,AIN,"3,8","3,9",4,"4,1","4,2","4,2","4,4","4,6",...,"6,2",6,"6,2","5,9","5,7","5,6",7,6,"6,1","5,9"
1,2,AISNE,"8,3","8,5","8,6","8,5","8,5","8,6","8,8","9,2",...,"12,1","11,8","11,9","11,4","11,2","9,7","12,6",11,"11,2",11
2,3,ALLIER,"7,4","7,6","7,8","7,8","7,8","7,8","7,9","8,5",...,"9,3","9,1","9,1","8,7","8,5",8,"9,8","8,3","8,4","8,5"
3,4,ALPES-DE-HAUTE-PROVENCE,"5,6","5,7","5,9","6,1","6,2","6,2","6,4","6,7",...,"10,5","10,2","10,2","9,5","9,2","8,8","10,6",9,"9,4","9,5"
4,5,HAUTES-ALPES,"4,9",5,"5,1","5,4","5,8","5,9","6,1","6,5",...,"8,2","7,9","7,9","7,6","7,3","6,9","8,4","7,5","9,2","7,8"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,VAL-D'OISE,"5,4","5,4","5,6","5,5","5,6","5,6","5,6","5,9",...,"8,9","8,6","8,7","8,4","8,1","7,3","9,8",9,"8,9","8,8"
96,971,GUADELOUPE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"20,9",19,"20,2","20,4","18,2","10,9","18,9","19,4","17,6","19,3"
97,972,MARTINIQUE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"17,3","15,7","15,1","16,5","12,3","8,5","16,4",15,"12,8",15
98,973,GUYANE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"15,5","17,4","18,3","17,3","14,5","7,1","17,1","17,8","12,7",14
99,974,LA REUNION,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"22,7","22,4","20,5","20,4","19,1","13,3","19,6","17,4","17,8","16,6"