In [7]:
import pandas as pd
import numpy as np

In [8]:
# Définition de la base contenant les équipements par département en 2015 et 2020
df_nbeq = pd.read_csv(r'C:\Users\tle_p\Desktop\Théo\Etudes\ENSAE\2A-S1\Projet Python\Bpe1520_nb_equip_DEP.csv',sep = ';')

In [9]:
df_nbeq

       DEP TYPEQU  NB_2015  NB_2020
0       01   A101        2        2
1       01   A104       46       42
2       01   A105        0        0
3       01   A106        1        1
4       01   A107        4        4
...    ...    ...      ...      ...
12695  974   F305        1        1
12696  974   G101      112      147
12697  974   G102       75      112
12698  974   G103        0        0
12699  974   G104       74      114

[12700 rows x 4 columns]